<% provide(:title, "Users") %>
<div class="container-fluid">
<div class="card my-4" style="display:flex; justify-content: center;">
            <div class="card-body" style="width:50%;">
              <h1 style="text-align: center">Users List</h1>
              <div class="">
                <ul class="list-unstyled mb-0">
                    <% @users.each do |user| %>
                    <li class="list-group-item">
                      <div class="row d-flex justify-content-start border-bottom pb-2 mb-3">
                        <div class="col-2 col-md-2 col-lg-3 p-0  pr-xs-2">
                        <%= image_tag(user.avatar, class:'rounded-circle card-img-top circle', size: "45x48") %>
                        </div>
                        <div class="col-7 col-md-7 col-lg-6 m-2">                  
                          <p><%= link_to user.username, user_path(user), class:'text-decoration-none text-dark font-weight-bolder' %></p>
                          <span class=" font-weight-bolder text-black-50"><%= user.fullname %></span>                          
                        </div>
                        <div class="col-3 col-md-3 col-lg-3 m-2">
                          <% if current_user != user %>
                    <button type="button" class="btn btn-primary"><%= follow_or_unfollow_btn(user) %></button>                    
                  <% end %></div>               
                      </div>
                    </li>
                    <%end %> 
                  </ul>                  
              </div>
              <div><%= will_paginate(:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pag pagination justify-content-center') %></div>                   
                      
            </div>            
          </div>
          </div>
