<% provide(:title, "#{@user.username}") %>
<div class="container">
  <div class="col-md-8 bg-secondary"> 
        <div>asdasdsada</div>         
          <div class="form-group bg-white">
            <form>
                <div class="form-group">
                    <label for="comment">Gambit to <%= @user.username %>:</label>
                    <textarea class="form-control" rows="2" id="comment"></textarea>
                </div>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Gambit</button>
            </form>
          </div>
          <h3 class="my-4">Your Recent Gambits</h3>

          <!-- Blog Post -->
          <div class="list-group">
              <%= render @gambits %>
          </div>

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">
            <div>
                <p><%= @user.username %></p>
                <p><%= @user.fullname %></p>
                <p>Gambits :<%= @user.gambits.count %></p>
                <p>Following: <%= @user.friends.count %></p>
                <p>Followers: <%= @user.followers.count %></p>
                <% if current_user != @user %>
                  <%= link_to follow_or_unfollow_btn(@user) %>
                <% end %>
            </div>
          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">FOLLOWED BY:</h5>
            <div class="card-body">
              <div class="input-group">
                <ul class="list-unstyled mb-0">
                    <li>
                      <%#= link_to @user.friends.sample.username, user_path(User.find_by_username(@user.friends.sample.username)) %>
                    </li>
                    <li>
                      <%#= link_to @user.friends.sample.username, user_path(User.find_by_username(@user.friends.sample.username)) %>
                    </li>
                    <li>
                      <%#= link_to @user.friends.sample.username, user_path(User.find_by_username(@user.friends.sample.username)) %>
                    </li>
                  </ul>
              </div>
            </div>
          </div> 
  </div>
</div>

