<li class="">
  <div>
    <div class='' >
      <%= link_to gambit.user.username, user_path(gambit.user), class: '' %>
    </div>
    <div class=''>
      <span class=''> <%= gambit.created_at.strftime("%Y/%m/%d") %> </span>
      <%= like_or_dislike_btn(gambit) %> <%= gambit.likes.count %>
    </div>
  </div>
  <p class="">
    <%= gambit.text %>
  </p>

  <div class=''>
  <p>Comments: <%= gambit.comments.count %></p>
    <% gambit.comments.each do |comment| %>
      <div class="">
        <p>
          <b><%#= gravatar_for comment.user, size: 15 %> <%#= comment.user.username %>:</b> <%= comment.content %>
        </p>
        <span> <%#= comment.created_at.strftime("%Y/%m/%d") %> </span>
      </div>
    <% end %>

    <%= form_for(gambit.comments.new, url: gambit_comments_path(gambit)) do |form| %>
      <%= form.text_field :content, id: :comment_content, class: '', placeholder: 'Add new Comment' %>
      <%= form.submit 'Comment', class: 'btn btn-primary' %>
    <% end %>
  </div>
</li>