<% provide(:title, "Homepage") %>
<div class="container-fluid">
  <div class="gambitbar mt-0 mb-2">
    <h5 class="gambito" href="#">Gambits</h5>
    <h5 class="gambito2">Who to Follow</h5>
  </div>
  <div class="col-md-8 bg-secondary">          
          <div class="form-group bg-white">
            <%= form_for(@gambit) do |form| %>
              <%= form.label :Add_your_Gambit %>
              <%= form.text_field :text, id: :gambit_text, class: 'form-control', placeholder: 'Compose your New Gambit' %>
              <% if @gambit.errors.full_messages.any? %>
                <p class="errors">
                  <%= "Gambit could not be saved. #{@gambit.errors.full_messages.join('. ')}" %>
                </p>
              <% end %>
              <br>
              <%= form.submit 'Gambit', class: 'btn btn-primary btn-sm' %>
            <% end %>
          </div>
          <br>
          <h1 class="my-4">Recent Gambits</h1>
          <h4>All the gambits of your MasterChess friends</h4>

          <!-- Blog Post -->
          <div class="list-group">
              <%= render @timeline_gambits %>
          </div>
          
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            
          </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">

          <!-- Search Widget -->
          <div class="card my-4">
            <div class="card-body">
              <div class="input-group">
                <ul class="list-unstyled mb-0">
                    <li>
                      <%= link_to @user.sample.username, user_path(User.find_by_username(@user.sample.username)) %>
                    </li>
                    <li>
                      <%= link_to @user.sample.username, user_path(User.find_by_username(@user.sample.username)) %>
                    </li>
                    <li>
                      <%= link_to @user.sample.username, user_path(User.find_by_username(@user.sample.username)) %>
                    </li>
                  </ul>
              </div>
            </div>
          </div> 
  </div>
  
</div>

