<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="MasterChess-RoR-Project">
    <meta property="og:image" content="https://github.com/javitocor/MasterChess-RoR-Capstone-Project/blob/development/app/assets/images/screenshot1.png?raw=true">
    <meta property="og:url" content="https://github.com/javitocor/MasterChess-RoR-Capstone-Project">
    <meta property="og:description" content="Kind of social media for chess lovers. Built with Ruby on Rails">
    <meta property="og:type" content="website" />
    <meta name="author" content="Javier Correas">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/d4de0f4540.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
          <%= render 'layouts/header'%>
          <%= render 'layouts/navbar'%>

          <div class="container-fluid col-md-10 col-sm-8">
            <div class="row">
              <%= yield %>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
